# API key for accessing OpenAI services for AI-related functionalities
OPENAI_API_KEY=

# API key for accessing Google services (e.g., Maps, Cloud)
GEMINI_API_KEY=

# API key for accessing Tavily services (e.g., data aggregation)
TAVILY_API_KEY=

# Language for the LLM responses
LLM_LANGUAGES=English
